{
    "env": {
        "node": true,
        "browser": true
    },
    "presets": ["babel-preset-es2015-without-strict"],
    "plugins": [
        "transform-node-env-inline",
        "transform-dead-code-elimination"
    ],
}
